<h2>Add Your Location to the Platform</h2>

<form action="/locations/create" method="post">

<label for="address">
    Address
    <input type="text" id="address" name="address">
</label>

<label for="apartmentNumber">
    Apartment Number
    <input type="number" id="apartmentNumber" name="apartmentNumber">
</label>

<label for="zip">
    Zip
    <input type="number" id="zip" name="zip">
</label>

<label for="city">
    City
    <input type="text" id="city" name="city">
</label>

<label for="state">
    State
    <input type="text" id="state" name="state">
</label>

<button type="submit">Save</button>

</form>